@import "tailwindcss";

@theme {
  --color-customBlue: #0b1220;
  --color-customCard: #0f1a2f;

  --color-mainText: #ffffff;
  --color-mutedText: rgba(255, 255, 255, 0.7);

  --color-softBorder: rgba(255, 255, 255, 0.12);

  --color-primary: #3b82f6;
  --color-primaryHover: #2563eb;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-customBlue);
  color: var(--color-mainText);
  font-family: Arial, Helvetica, sans-serif;
}
